/* Global */

body {
	 color: #7A7A7A;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
}

::selection {
	background: #ff7d04;
	color:#fff;
}
::-moz-selection {
	background: #ff7d04; /* Firefox */
	color:#fff;
}
img {
	max-width: 100%;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color:#b8b7b7;
	text-decoration:none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}

.fright{float:right;
}
.fleft{float:left;
}


.portrait {
	 display: inline-block;
    height: auto;
    margin: 1.6em auto 0;
    padding: 0 10px;
    width: 29%;
}

.slogan {
    height: auto;
    margin-top: 9.3em;
    padding: 0 0px;
    width: 100%;
}


/* Navigation */
#undefined-sticky-wrapper {position:relative;height:0 !important;z-index:9999 !important;}

.menu {
	position:fixed;
	xbottom:0;
	top:0;
	width:100%;
	height:76px;
	background:url("../images/menu_bg.jpg") repeat;
	z-index:9999 !important;
}



#logo {
	float:left;
	margin-bottom:0;
	margin-left:0;
}

#nav {
	float:right;
	text-align: right;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
ul.navigation {
	position:relative;
	margin:0;
	padding:0;
}
.navigation li{
	float: left;
	text-align:left;
	padding:28px 0 25px;
	margin-left:30px;
	text-transform:uppercase;
	background:none;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:14px;
	line-height:20px;
	color:#b8b7b7;
}
.navigation li:first-child{margin-left:0;}
.navigation li:hover,
.navigation .active {
	cursor:pointer;
	/*background:url("../images/menu_h.png") no-repeat center;
	*/border-bottom:1px solid #ff7d04;
	color:#fff;
}

.navigation li a:hover,
.navigation .active {
	cursor:pointer;
	/*background:url("../images/menu_h.png") no-repeat center;
	*/
	border-bottom:1px solid #ff7d04;
	color:#fff;
	text-decoration:none;
}

.mo {
	float: left;
	text-align:left;
	xpadding:28px 0 25px;
	xmargin-left:30px;
	text-transform:uppercase;
	background:none;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:14px;
	line-height:20px;
	color:#be3f1c;
}



.remainder {
	float: left;
	text-align:left;
	xpadding:28px 0 25px;
	xmargin-left:30px;
	text-transform:uppercase;
	background:none;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:14px;
	line-height:20px;
	color:#b8b7b7;
}

.btn_dropdown {
	position:relative;
	z-index:9999;
	display:none;
	cursor:pointer;
	background:#fff;
	margin:20px 3px 0 0;
	width:140px;
	height:36px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size:18px;
	line-height:36px;
	color:#3e3e3e;
	border-radius:5px;
}
.btn_dropdown:hover {color:#3e3e3e;}


/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	padding:0;
}

.title {text-align:center;
margin-top:1em;
}
h1 {
	display:inline-block;
	margin:0 0 7px;
	padding:0 20px;
	text-transform:uppercase;
	text-align:left;
	font-style:normal;
	background:none;
	font-family: 'Open Sans', sans-serif;
	font-size: 45px;
	line-height: 86px;
	color:#3e3e3e;
	font-weight: 700;
	
}

.left_bord2 {
	display:inline-block;
	padding-bottom:25px;
	background:url("../images/left_bord2.png") no-repeat;
	height:2px;
	width:145px;
}
.right_bord2 {
	display:inline-block;
	padding-bottom:25px;
	background:url("../images/right_bord2.png") no-repeat;
	height:2px;
	width:145px;
}


.slide_descr {
	margin:0 auto;
	width:790px;
}
h3 {
	margin:0;
	padding:40px 0 32px 0;
	text-transform:uppercase;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	font-size:32px;
	font-style:normal;
	line-height:38px;
	color:#ffffff;
}
.author span {
	display:inline-block;
	padding:0 8px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	font-size:15px;
	line-height:36px;
	color: #be3f1c;
}
.author_bord {
	display:inline-block;
	padding-bottom:5px;
	background:url("../images/author_bord.png") no-repeat;
	height:1px;
	width:22px;
}



img.icon_img {
	float:left;
	margin-right:20px;
	margin-top:20px;
	margin-bottom:25px;
}

.effect_2 {
	xbackground:url("../images/slide2_bg.jpg") repeat left top;
	position:relative;
	top:0;
	bottom:-57px;
	height:100%;
	z-index:999 !important;
}

/* ____________________________________ Slide 1 ____________________________________ */ 

.padding_slide1 {padding:241px 0 101px 0;
}

.inset_shadow {
	position:absolute;
	z-index:10;
	left:0;
	right:0;
	top:0;
	bottom:76px;
	xbox-shadow:0 0 60px rgba(0,0,0, 0.7) inset;
}

#slide1{
	background-image:url("../images/slide1_bg.jpg");
	background-size: cover !important;
	width:100%;
	text-align:center;
	padding-bottom: 7em;
}

.filtr_bg {
	position:relative;
	z-index:20;
	text-align:center;	
}

#slide1 h1 {
	float:none;
	border-right:none;
	margin:0;
	padding:0;
	text-align:center;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 64px;
	line-height: 85px;
	color:#fff;
	font-weight:900;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.21);
}
.slogan_text {
	display:inline-block;
	padding:0 12px 156px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:37px;
	line-height:33px;
	color:#fff;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.21);
}
.left_bord {
	display:inline-block;
	padding-bottom:13px;
	background:url("../images/left_bord.png") no-repeat;
	height:2px;
	width:140px;
}
.right_bord {
	display:inline-block;
	padding-bottom:13px;
	background:url("../images/right_bord.png") no-repeat;
	height:2px;
	width:140px;
}


#slide1 .button {
	cursor:pointer;
	display:block;
	margin:2em 0 0 29em;
	width:81px;
	height:81px;
	border:none;
	text-transform:uppercase;
	background:url("../images/button_down.png") no-repeat;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	
	
}



/* ____________________________________ Slide 2 ____________________________________ */ 

#slide2 {
	background:url("../images/slide2_bg.jpg") repeat left top;
	width:100%;
	padding:66px 0 69px;
	background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    text-align: center;
}




/* ___________________________________ //Slide 2 ___________________________________ */ 





/* ____________________________________ Slide 3 ____________________________________ */ 

#slide3{
	background-image:url("../images/slide3_bg.jpg");
	background-repeat:no-repeat !important;
	background-size: 100% 100% !important;
	background-position:0 0 !important;
	width:100%;
	text-align:center;
}
.padding_slide3 {padding:75px 0 75px;
}



/* ___________________________________ //Slide 3 ___________________________________ */ 





/* ____________________________________ Slide 4 ____________________________________ */ 
#slide4 {
	background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/slide2_bg.jpg");
    background-origin: padding-box;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
	width:100%;
	padding:66px 0 69px;
}

div.servc_block {
	display:block;
	height:130px;
	background:#fff;
	border-top:1px solid #dfdfdf;
	border-right:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	border-left:9px solid #ff7d04;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
a.servc_block:hover {background:#313131;
}

.icon_h {
	overflow:hidden;
	position:relative;
	float:left;
	margin:0 25px 0px 0;
	width:113px;
	height:130px;
}
.icon_h img {
	position:absolute;
	top:0;
	left:0;
}

.servc_icon {
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.servc_block:hover .servc_icon {	
	opacity:0.75;
	filter: alpha(opacity=75);
	transform: scale(1.3);
	-ms-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-o-transform: scale(1.3);
}

.servc_block p {
	color: #3E3E3E;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin: 0;
    padding: 15px 0 7px;
    text-align: left;
    text-transform: none;
    transition: all 0.3s ease-in-out 0s;
}
.servc_block p.reference{
	color:red;
}
.servc_block:hover p {
	font-size:14px;
	line-height:20px;
	color:#fff;
	margin-top:-.3em;
}

.servc_block span {
	color: #797979;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: none;
    transition: all 0.3s ease-in-out 0s;
}
.servc_block:hover span {
	font-size:16px;
	line-height:24px;
	color:#ffd600;
	margin-top:-.2em;
}

/* ___________________________________ //Slide 4 ___________________________________ */



/* ____________________________________ Slide 5 ____________________________________ */ 

#slide5 {
	background-image:url("../images/slide3_bg.jpg");
	background-size: cover !important;
	background-position:0 0 !important;
	width:100%;
	text-align:center;
}
.padding_slide5 {padding:88px 0 75px;
}



/* ___________________________________ //Slide 5 ___________________________________ */ 




/* ____________________________________ Slide 6 ____________________________________ */ 

#slide6 {
	background:url("../images/slide_bg.jpg") repeat left top;
	width:100%;
	padding:86px 0 69px;
}

/* _____________ TEAM_BLOCK ___________ */
.team1 {margin-top:69px;}
.team2 {margin-top:31px;}

.team1, .team2, .team3 {
	float:left;
	text-align:center;
	margin-right:29px;
}

.team_foto1, .team_foto2, .team_foto3 {
	overflow:hidden;
	position:relative;
	width:108px;
	height:108px;
	background:#fff;
	border-radius:50%;
	border:5px solid #535353;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.team1:hover .team_foto1,
.team2:hover .team_foto2,
.team3:hover .team_foto3 {
	background:#ff7d04;
}
.team1:hover .team_foto1 img,
.team2:hover .team_foto2 img,
.team3:hover .team_foto3 img {
	opacity:0;
	filter: alpha(opacity=0);
}

.team_foto1 img,
.team_foto2 img,
.team_foto3 img {
	opacity:1;
	filter: alpha(opacity=100);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.team_descr a {
	position:absolute;
	top:-50%;
	z-index:10;
	margin-top:-16px;
	width:33px;
	height:33px;
	border-radius:50%;
	background-color:#9a6432;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.team_descr a:hover {background-color:#535353;z-index:20;
}
a.team_soc1 {
	display:block;
	left:15%;
	background-image:url("http://www.mullen.com/movember/images/team_soc1.png") ;
}
a.team_soc2 {
	display:block;
	right:15%;
	background-image:url("http://www.mullen.com/movember/images/team_soc2.png") ;
}
.team1:hover a.team_soc1,
.team2:hover a.team_soc1,
.team3:hover a.team_soc1 {
	top:50%;
}
.team1:hover a.team_soc2,
.team2:hover a.team_soc2,
.team3:hover a.team_soc2 {
	top:50%;
	transition-delay:0.1s;
	-o-transition-delay:0.1s;
	-moz-transition-delay:0.1s;
	-webkit-transition-delay:0.1s;
}

.team_contact {
	position:relative;
	top:15px;
	background:#535353;
	text-align:center;
	border-radius:999px;
	width:26px;
	height:26px;
	margin:0 auto;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.team_contact:hover {
	width:80px;
}

.team_contact .team_contact_icon {
	position:absolute;
	left:50%;
	margin-left:-12px;
	width:25px;
	height:21px;
	opacity:1;
	filter: alpha(opacity=100);
}
.team_contact a {
	display:block;
	color:#fff;
	text-transform:uppercase;
	font-size:12px;
	line-height:24px;
	opacity:0;
	filter: alpha(opacity=0);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.team_contact:hover a {
	opacity:1;
	filter: alpha(opacity=100);
}
.team_contact:hover .team_contact_icon {
	opacity:0;
	filter: alpha(opacity=0);
	top:-40px;
}

.team1 p {
	padding:2px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	color:#7a7a7a;
	font-size:15px;
	line-height:20px;
	font-weight:400;
}

.team_foto2 {
	width:182px;
	height:182px;
}
.team2 a.team_soc1 {
	left:30%;
}
.team2 a.team_soc2 {
	right:30%;
}
.team2 p {
	padding:7px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	color:#7a7a7a;
	font-size:25px;
	line-height:35px;
	font-weight:400;
}
.team2 .team_contact:hover {
	width:110px;
}
.team2 .team_contact_icon {
	left:50%;
	margin-left:-15px;
	padding-top:1px;
	width:30px;
	height:30px;
}
.team2 .team_contact {
	width:33px;
	height:33px;
}
.team2 .team_contact a {
	line-height:33px;
	font-size:15px;
}


.team_foto3 {
	width:235px;
	height:235px;
}
.team3 a.team_soc1 {
	left:34%;
}
.team3 a.team_soc2 {
	right:34%;
}
.team3 p {
	padding:12px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	color:#7a7a7a;
	font-size:35px;
	line-height:50px;
	font-weight:400;
}
.team3 .team_contact_icon {
	left:50%;
	margin-left:-19px;
	padding-top:3px;
	width:38px;
	height:38px;
}
.team3 .team_contact {
	width:38px;
	height:38px;
}
.team3 .team_contact a {line-height:38px;font-size:18px;}
.team3 .team_contact:hover {
	width:140px;
}


/* ____________ //TEAM_BLOCK __________ */


/* ___________________________________ //Slide 6 ___________________________________ */ 




/* ____________________________________ Slide 7 ____________________________________ */ 

#slide7{
	background-image:url("../images/slide3_bg.jpg");
	background-size: cover !important;
	background-position:0 0 !important;
	width:100%;
	text-align:center;
}
.padding_slide7 {padding:88px 0 75px;
}
.slide_descr2 {
	margin:0 auto;
	width:700px;
}


/* ___________________________________ //Slide 7 ___________________________________ */ 



/* ____________________________________ Slide 8 ____________________________________ */ 
#slide8 {
	background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/slide2_bg.jpg");
    background-origin: padding-box;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
	width:100%;
	padding:66px 0 69px;
	text-align:center;
}

#slide8 h4 {padding-bottom:18px;
}

/* _________________ PORTFOLIO ________________ */
.gallery-list {
	text-align:center;
	margin-left:0 !important;
	
}

.gallery-list li{
	 float: left;
    margin: 0 auto;
    max-width: 250px;
    width: 100%;
}

#slide8 .hover_img {
	overflow:hidden;
	position:relative;
	height:211px;
	width:235px;
	background:#343434;
}

.img_block {
	display:inline-block;
	margin:10px;
	width:235px;
	height:211px;
}

.portfolio_zoom, .portfolio_link {
	width:40px;
	height:40px;
	position:absolute;
	bottom:66px;
	background-repeat:no-repeat;
	background-color:#ff7d04;
	opacity:0.5;
	filter: alpha(opacity=50);
	border-radius:50%;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition-delay:0.2s;
	-o-transition-delay:0.2s;
	-moz-transition-delay:0.2s;
	-webkit-transition-delay:0.2s;
}
.portfolio_zoom {
	left:-50px;
	background-image:url("http://www.mullen.com/movember/images/zoom.png");
	background-position:0 0;
	z-index:302;
}
.portfolio_link {
	right:-50px;
	background-image:url("http://www.mullen.com/movember/images/link.png");
	background-position:0 0;
	z-index:303;
}
.portfolio_zoom:hover, .portfolio_link:hover {
	opacity:1;
	filter: alpha(opacity=100);
	z-index:310;
}
.portfolio_zoom a, .portfolio_link a {
	display:block;
	width:40px;
	height:40px;
	text-indent:-9999px;
}
.hover_img:hover .portfolio_zoom {
	left:84px;
}
.hover_img:hover .portfolio_link {
	right:71px;
}

.item_description {
	position:absolute;
	top:-100px;
	left:0;
	right:0;
	background:#ff7d04;
	text-align:left;
	color:#fff;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.hover_img:hover .item_description {
	top:0;
}

.item_description p {
	padding:24px 20px 17px;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #fff;
	line-height: 26px;
	font-weight: 400;
	text-transform:uppercase;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}


.item_description2 {
	position:absolute;
	bottom:-100px;
	left:0;
	right:0;
	padding:5px 20px;
	background:#ff7d04;
	text-align:left;
	color:#fff;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.hover_img:hover .item_description2 {
	bottom:0;
}


/* ________________ //PORTFOLIO _______________ */

/* ___________________________________ //Slide 8 ___________________________________ */



/* ____________________________________ Slide 9 ____________________________________ */ 

#slide9{
	background-image:url("../images/slide3_bg.jpg");
	background-size: cover !important;
	background-position:0 0 !important;
	width:100%;
	text-align:center;
}
.padding_slide9 {padding:88px 0 75px;
}
.slide_descr3 {
	margin:0 auto;
	width:830px;
}


/* ___________________________________ //Slide 9 ___________________________________ */ 



/* ____________________________________ Slide 10 ____________________________________ */

#slide10 {
	background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/slide2_bg.jpg");
    background-origin: padding-box;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    padding: 66px 0 28px;
    text-align: center;
    width: 100%;
}

#slide10 .container {padding-bottom:80px;
}


/* ______________ CONTACT_FORM ______________ */
::-webkit-input-placeholder { opacity:1 !important; color:#929292 !important;
}
:-moz-placeholder {opacity:1 !important; color:#929292 !important;
}
::-moz-placeholder { opacity:1 !important; color:#929292 !important;
}
:-ms-input-placeholder { opacity:1 !important; color:#929292 !important;
}

.contact_form input[type="text"],
.contact_form textarea {
	background: none repeat scroll 0 0 #2E2E2E;
    border: 1px solid #E3E3E3;
    color: #FFD600;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin: 22px 0 0;
    padding: 12px 10px 11px 17px;
    width: 100%;
}
.contact_form input[type="text"]:first-child {margin-top:0;
}
.contact_form textarea {
	resize: none;
	margin-top:0;
	height: auto;
    min-height: 164px;
}

.contact_btn {
	border:none;
	text-transform:uppercase;
	margin:0 4px 10px 0;
	padding:7px;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	width: 25%;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	text-align: center;
	vertical-align: middle;
	background:#3e3e3e;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.contact_btn:hover,
.send_btn {
	background: none repeat scroll 0 0 #FED531;
    color: #2C2C2C;
    font-weight: 600;
    height: 36px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.sharef {
    background: none repeat scroll 0 0 #ffd600;
    font-weight: 600;
    height: 36px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-color: #000000;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #FFD600;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: baseline;
    width: 10%;
}

.sharet {
    background: none repeat scroll 0 0 #ffd600;
    font-weight: 600;
    height: 36px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-color: #000000;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #FFD600;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: baseline;
    width: 10%;
}

#note .notification_ok {
	margin-top:20px;
	padding:7px 10px;
	text-align:center;
	text-transform:uppercase;
	background:#3e3e3e;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:14px;
	color:#fff;
}
#note .notification_error {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:16px;
	color:#f00;
}
/* _____________ //CONTACT_FORM _____________ */


#map_block {
	margin:0;
}

/* ____________________________________ //Slide 8 ____________________________________ */

/* ____________________________________ FOOTER ____________________________________ */
#footer {
	background:url("../images/menu_bg.jpg") repeat;
	padding:27px 0 23px;
}
.copyright {
	float:left;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	color:#e9e9e9;
	font-size:12px;
}
.copyright a {
	color:#ffd600;
}
.copyright a:hover {text-decoration:none;color:#fff;
}

/* _____________ BACK_TOP ___________ */
#back_top {
	float:right;
}
#back_top a.button {
	cursor:pointer;
	position:relative;
	z-index:300;
	display:block;
	margin:0;
	width:31px;
	height:32px;
	background:url("../images/back_top.png") no-repeat;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:#fff;
}
#back_top a.button:hover {text-decoration:none;}
/* ____________ //BACK_TOP __________ */

/* ___________________________________ //FOOTER ___________________________________ */


/* ___________________________________ //FORM ___________________________________ */

.Form-container label{
	line-height: 45px;
	color: #8C8C92;
	font-size: 16px;
}
.Form-container .field.f_100{
	font-size: 12px;
	width: 100%;
	position: relative;
	margin-top: 20px;
	height: 45px;
}
.Form-container .footnote{
	font-size:10px;
}

.Form-container input{
	font-family: Helvetica, Arial, sans-serif;
	height: 40px;
	width: 69%;
	max-width: 300px;
	border-radius: 4px;
	float: right;
	font-size: 16px;
	font-weight: 500;
	color: #3a3a3c;
	padding-right: 40px;
	-webkit-appearance: none;
	padding: 1px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0)) repeat scroll 0 0 #FFF;
	border: 2px inset;
	cursor: auto;
	padding-left: 7px;
	border: none;
	box-shadow: none;
	}
#form-submit .btn{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin-top: 30px;
	margin-left: 26px;
	width: 139px;
	height: 39px;
	float: right;
	color: #fff;
	background-color: #00aced;
	border-color: #0099d4;
}




